# hint: for local development with dbt-core
# Run: export VAR_NAME='secret-value' for each environment variable below

DATABRICKS_CATALOG_NAME=''
DATABRICKS_SCHEMA_NAME=''

DBT_DATABRICKS_HOST_NAME=
DBT_DATABRICKS_HTTP_PATH=
DBT_DATABRICKS_TOKEN=